<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postgraduate Admission System</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body onload="openNav()">
    <div id="nav-container"></div>
    <div class="container">
        
    </div>

    <script src="../static/js/navigation.js"></script>
</body>
</html>